<h2> Your Search Results </h2>

<p>
  This is step #2 of a form submission process
  (recieving the info submitted by the user).
</p>

<p> You searched for <i> <%= theSearch %> </i>. Not pizza </p>

<img src="/images/search.gif">

<p> FIND THE PIZZA </p>

<ol>
  <li> SPONSORED:
    <a href="http://nizaroni.pizza"> nizaroni.pizza </a> </li>
  <li> <a href="http://pizza.com"> pizza.com </a> </li>
  <li> <a href="http://www.dominos.com"> dominos.com </a> </li>
</ol>
